<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AMA Reports</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">

   <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
      <!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->

<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="plugins/chart.js/Chart.min.js"></script>
<script src="/plugins/dashboard3.js"></script>

<!-- AdminLTE for demo purposes -->
  <style>
    .modal-body {
      background: white;
      color: black;
    }
    .modal-footer {
      background: white;
    }
    .modal-footer button {
      color: black;
    }
    .projects  th,.projects td  {
        text-align: center;
    }
    .content{
      padding-bottom: 50px!important;
    }
   
   @media (max-width: 767px){
     .card{
       width: 100%!important;
     }
   }
   .fielderror{
     color: darkred;
     font-size: 12px;
     font-weight: bold;
     display: none;
   }
  .validationerror{
      background-color: #dc3545;
      border-color: #dc3545;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      padding: 2px;
      font-size: 12px;
      margin-bottom: 5px;
  }
  </style>
 
</head>
<body class="login-page">

    <!-- Content Wrapper. Contains page content -->

    {{{body}}}

    <!-- /.content-wrapper -->

  </body>
</html>
